<template>
    <div class="main">
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                //
            }
        },
    }
</script>