<template>
    <div class="container-scroller">
        <siteHeader @offCanvas="offcanvas = $event" @changePassword="popupChangePassword = true"></siteHeader>
        <div class="container-fluid page-body-wrapper">
            <keep-alive>
                <menuLeft :offcanvas="offcanvas"></menuLeft>
            </keep-alive>
            <div class="main-panel">
                <div class="content-wrapper">

                    <router-view :key="$route.path"></router-view>

                </div>
                <siteFooter/>
            </div>
        </div>
    </div>
</template>
<script>
    import menuLeft from './components/site-left';
    import siteHeader from './components/site-header'
    import siteFooter from './components/site-footer'
    export default {
        data() {
            return {
                popupChangePassword: false,
                offcanvas: false,
            }
        },
        components: {
            menuLeft,
            siteHeader,
            siteFooter
        }
    }
</script>