<template>
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <router-link class="navbar-brand brand-logo " to="/">
                <!--                <img src="/assets/logo.svg" alt="logo"/>-->
                {{$auth.user().name}}
            </router-link>
            <router-link class="navbar-brand brand-logo-mini" to="/">
                <!--                <img src="/assets/logo-mini.svg" alt="logo"/>-->
                {{$auth.user().name}}
            </router-link>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
<!--            <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex pl-0">-->
<!--                <li class="nav-item">-->
<!--                    <a href="" class="nav-link">-->
<!--                        <i class="mdi mdi-account"></i>User-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item active">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="mdi mdi-elevation-rise"></i>Reports</a>-->
<!--                </li>-->
<!--            </ul>-->
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown d-none d-xl-inline-block">
                    <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" style="padding-top: 18px;"
                       aria-expanded="false">
                        <avatar id="current_member_avatar" slot="right"
                                :username="$auth.user().name == null ? 'M' : $auth.user().name"
                                backgroundColor="#fff"
                                :src="$auth.user().avatar" :size="40"></avatar>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <a class="dropdown-item p-0">
                            <div class="d-flex border-bottom">
                                <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                    <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                                </div>
                                <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                                    <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                                </div>
                                <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                    <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item py-3" href="javascript:;" @click="$emit('changePassword')">
                            Change Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item py-3 text-danger" href="javascript:;" @click="$auth.logout()">
                            SignOut
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas" @click="checkOffCanvas = !checkOffCanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
</template>
<script>
    export default {
        data() {
            return {
                checkOffCanvas: false,
            }
        },
        watch: {
            checkOffCanvas() {
                return this.$emit('offCanvas', this.checkOffCanvas);
            }
        },
        methods: {
        }
    }
</script>
<style scoped>
</style>