﻿<template>
    <nav class="sidebar sidebar-offcanvas" :class="offcanvas ? 'active' : ''" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
                <div class="nav-link">
                    <div class="user-wrapper">
                        <div class="profile-image">
                            <avatar id="current_member_avatar" slot="right"
                                    :username="$auth.user().name == null ? 'M' : $auth.user().name"
                                    backgroundColor="#000"
                                    color="#fff"
                                    :src="$auth.user().avatar" :size="40"></avatar>
                        </div>
                        <div class="text-wrapper">
                            <p class="profile-name text-capitalize">{{$auth.user().name}}</p>
                            <div>
                                <small class="designation text-muted">{{$auth.user().roles.role_description}}</small>
                                <span class="status-indicator online"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item" v-for="v in menu" :key="v.name">
                <router-link v-if="!v.children" class="nav-link" :to="v.link">
                    <i class="menu-icon" :class="v.icon"></i>
                    <span class="menu-title">{{v.name}}</span>
                </router-link>
                <div v-else>
                    <a class="nav-link" data-toggle="collapse" :href="`#` + v.name" aria-expanded="false"
                       aria-controls="bill-dropdown">
                        <i class="menu-icon" :class="v.icon"></i>
                        <span class="menu-title">{{v.name}}</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" :id="v.name">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item" v-for="item in v.children" :key="item.name">
                                <router-link class="nav-link" :to="item.link">
                                    {{item.name}}
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</template>
<script>

    export default {
        props: ['offcanvas'],
        data() {
            return {
                menu: [
                    {
                        name: 'Dashboard',
                        icon: 'mdi mdi-television',
                        link: this.$auth.user().roles.role_id == 1 || this.$auth.user().roles.role_id == 2 ? 'admin' : 'dashboard'
                    },
                    {
                        name: 'Language',
                        icon: 'mdi mdi-language-javascript',
                        link: 'language',
                        permission: 1
                    },
                    {
                        name: 'SystemConfig',
                        icon: 'mdi mdi-settings',
                        link: '',
                        children: [
                            {name: 'User', link: 'user', permission: 1},
                            {name: 'Role', link: 'role', permission: 1},
                            {name: 'Permission', link: 'permission'},
                            {name: 'Setting', link: 'setting', permission: 1},
                        ]
                    }
                ]
            }
        },
        computed: {
        },
        methods: {

        }
    }
</script>
