<template>
    <wrapper title="Admin" sapo=" ">
        <div class="card">
            <div class="card-body">
                <div class="search-box mb-3">
                    <button class="btn btn-primary" @click="$router.push('/permission/create')">
                        Create
                    </button>
                </div>
                <table class="table" v-if="permissionList" v-loading="loading">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                    </tr>
                    <tr v-for="item in permissionList" :key="item.id">
                        <th>{{ item.id }}</th>
                        <td>{{ item.name }}</td>
                    </tr>
                </table>
                <pager :total="permissionCount" :pageIndex="objData.page" :pageSize="objData.per_page"
                       @change="pageChange"/>
            </div>
        </div>
    </wrapper>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        data() {
            return {
                objData: {
                    key: '',
                    page: 1,
                    per_page: 10,
                    status: 1,
                },
                loading: false,
            }
        },
        mounted() {
            this.getPermission();
        },
        computed: {
            ...mapGetters(['permissionList', 'permissionCount']),
        },
        methods: {
            ...mapActions(['getPermissionList']),
            getPermission() {
                this.loading = true;
                this.getPermissionList(this.objData).then(() => {
                    this.loading = false;
                }).catch(err => {
                    this.$error('Error');
                    this.loading = false;
                })
            },
            pageChange(pageNum) {
                this.$set(this.objData, 'page', pageNum);
                this.getPermission();
            },
        }
    }
</script>

<style scoped>

</style>