<template>
    <wrapper title="Admin" sapo="">
        <div class="card">
            <div class="card-body">
                Welcome to your administrator dashboard
            </div>
        </div>
    </wrapper>
</template>
<script>
  export default {
    mounted() {
      //
    },
    components: {
    }
  }
</script>