<template>
    <div>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
                <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
                    <div class="row w-100">
                        <div class="col-lg-4 mx-auto">
                            <div class="auto-form-wrapper">
                                <div class="form-group">
                                    <label class="label">Username</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Username or Email"
                                               v-model="objData.login">
                                        <div class="input-group-append">
                                              <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                              </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="Password"
                                               v-model="objData.password">
                                        <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary submit-btn btn-block" @click="onLogin">Login</button>
                                </div>
                            </div>
                            <p class="footer-text text-center">Copyright © 2019 Amela. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                objData: {
                    login: '',
                    password: '',
                },
                success: false,
                has_error: false,
                error: ''
            }
        },
        mounted() {

        },
        methods: {
            onLogin() {
                // get the redirect object
                var redirect = this.$auth.redirect()
                this.$auth.login({
                    data: this.objData,
                    success: function () {
                        // handle redirection
                        this.success = true
                        const redirectTo = redirect ? redirect.from.name : this.$auth.user().role_id == 1 || this.$auth.user().role_id == 2 ? 'admin.dashboard' : 'dashboard'
                        this.$router.push({name: redirectTo})
                    },
                    error: function () {
                        this.has_error = true
                        this.error = res.response.data.error
                    },
                    rememberMe: true,
                    fetchUser: true
                })
            }
        }
    }
</script>